<div class="well">
  <div class="col-lg-1">
    <img src="<%= gravatar_image_url(current_user.email, filetype: :png, rating: 'pg', size: 60, secure:false) %>" height="50" width="50" class="img-circle" />
  </div>
  <div class="col-lg-11">
    <%= link_to tweet.user, "/#{tweet.user.username}" %> - <%= time_ago_in_words(tweet.created_at) %>
    <% if current_user && tweet.user == current_user %>
      <span class="pull-right">
        <%= link_to tweet, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa fa-trash"></i> delete
        <% end %>
      </span>
    <% end %>
    <br />
    <%= tweet %>
  </div>
  <br />
  <br />
  <br />
</div>
