<div class="col-lg-3 col-lg-offset-1 well">
  <%= gravatar_image_tag(@user.email, filetype: :png, rating: 'pg', size: 35, secure:false, class: 'img-circle' ) %>
  <span class="pull-right"><h2><%= @user %></h2></span>
  <br />
  <br />
  <% if able_to_follow?(@user) %>
    <%= simple_form_for [@user, @following] do |f| %>
      <%= f.submit 'Follow', class: 'btn btn-info btn-sm pull-right' %>
    <% end %> 
  <% end %>
  <br />
  <hr />
  <div class="col-lg-4">
    <h4>Statuses</h4>
    <%= @user.tweets.count %>
  </div>
  <div class="col-lg-4">
    <h4>Follwers</h4>
    <%= @user.followers.count %>
  </div>
  <div class="col-lg-4">
    <h4>Followings</h4>
    <%= @user.followings.count %>
  </div>
</div>
