<div class="row">
  <div class="col-lg-3 col-lg-offset-1 well">
    <%= gravatar_image_tag(@user.email, filetype: :png, rating: 'pg', size: 35, secure:false, class: 'img-circle' ) %>
    <span class="pull-right"><h2><%= @user %></h2></span>
    <br />
    <br />
    <a href="#" class="btn btn-info btn-sm pull-right">Follow</a>
    <br />
    <hr />
    <div class="col-lg-4">
      <h4>Statuses</h4>
      <%= @user.tweets.count %>
    </div>
    <div class="col-lg-4">
      <h4>Follwers</h4>
      <%= @user.followers.count %>
    </div>
    <div class="col-lg-4">
      <h4>Followings</h4>
      <%= @user.followings.count %>
    </div>

  </div>
  <div class="col-lg-7">
    <%= render @user.tweets %>
  </div>
  <div class="col-lg-1">

  </div>
</div>
