<div class="col-lg-3 col-lg-offset-1 well">
  <%= gravatar_image_tag(current_user.email, filetype: :png, rating: 'pg', size: 35, secure:false, class: 'img-circle' ) %>
  <span class="pull-right"><h2><%= link_to current_user, "/#{current_user.username}" %></h2></span>
  <br />
  <hr />
  <div class="col-lg-4">
    <h4>Statuses</h4>
    <%= current_user.tweets.count %>
  </div>
  <div class="col-lg-4">
    <h4>Followers</h4>
    <%= link_to current_user.followers.count, [current_user, :followings, followed: true] %>
  </div>
  <div class="col-lg-4">
    <h4>Followings</h4>
    <%= link_to current_user.followings.count, [current_user, :followings] %>
  </div>

</div>
