<div class="row">
  <div class="col-lg-3 col-lg-offset-1 well">
    <%= gravatar_image_tag(current_user.email, filetype: :png, rating: 'pg', size: 35, secure:false, class: 'img-circle' ) %>
    <span class="pull-right"><h2><%= current_user %></h2></span>
    <br />
    <hr />
    <div class="col-lg-4">
      <h4>Statuses</h4>
      <%= current_user.tweets.count %>
    </div>
    <div class="col-lg-4">
      <h4>Follwers</h4>
      <%= current_user.followers.count %>
    </div>
    <div class="col-lg-4">
      <h4>Followings</h4>
      <%= current_user.followings.count %>
    </div>

  </div>
  <div class="col-lg-7">
    <div class="well">
      <%= simple_form_for @tweet do |f| %>
        <%= f.input :tweet, as: :text, label: false, input_html: { class: 'col-lg-12', row: 5 } %>
        <br /><br /><br />
        <%= f.submit 'submit', class: 'btn btn-success pull-right btn-xs' %>
      <% end %>
      <br />
    </div>

    <%= render @tweets %>
  </div>
  <div class="col-lg-1">

  </div>
</div>
